<section [hidden]="showEditForm || showContactForm" class="vehicle_section" *ngIf="!showVehiclesByUserSection; else vehicles_by_user">
  <div class="details">
    <div class="vehicle_details card">
      <h2>{{ vehicleDetails.vehicle.name }}</h2>
      <table class="table table-bordered ">
        <thead>
          <th>Model</th>
          <th>Year</th>
          <th>Published</th>
        </thead>
        <tbody>
          <td>{{ vehicleDetails.vehicle.model }}</td>
          <td>{{ vehicleDetails.vehicle.year }}</td>
          <td>{{ vehicleDetails.vehicle.created_at | date }}</td>
        </tbody>
      </table>
    </div>
    <div class="card user_details">
      <h2>Seller {{ userPublicDetails.name }}</h2>
      <span>Here since - {{ userPublicDetails.created_at | date }}</span><br />
      <button class="btn btn-outline-secondary" (click)="onMoreBySellerClick()">
        More by {{ userPublicDetails.name }}
      </button>
    </div>
  </div>

  <hr/>

  <div class="photos_container">
    <div *ngFor="let photo of vehicleDetails.images.photos">
      <img [src]="photo" class="img-thumbnail" [alt]="vehicleDetails.vehicle.name" />
    </div>
  </div>
</section>

<section class="form_section"
  *ngIf="showContactForm"
>
  <app-contact-form
    [selectedVehicle]="vehicleDetails.vehicle"
    [vehiclePhotos]="vehicleDetails.images"
    (closeForm)="showContactForm = false"
  > 
  </app-contact-form>
</section>

<div class="butttons_container" [hidden]="showContactForm">
  <div class="btn_container btn_delete" *ngIf="isLoggedUserAdmin() || isLoggedUserOwnerOfResource()">
    <button type="button" class="btn btn-outline-primary" (click)="onDeleteClick(vehicleDetails.vehicle.id)">
      Delete
    </button>
  </div>

  <div class="btn_container btn_edit" *ngIf="isLoggedUserAdmin() || isLoggedUserOwnerOfResource()">
    <button type="button" class="btn btn-outline-primary" (click)="onEditClick()">
      Edit
    </button>
  </div>

  <div class="btn_container btn_chat" *ngIf="!isLoggedUserOwnerOfResource()">
    <button type="button" class="btn btn-outline-primary" (click)="onContactClick()">
      <img width="23" height="23" src="https://img.icons8.com/pulsar-line/23/filled-chat.png" alt="filled-chat" />
    </button>
  </div>

  <div class="btn_container btn_home">
    <button type="button" class="btn btn-outline-primary" (click)="onHomeClick()">
      <img width="23" height="23" src="https://img.icons8.com/hieroglyphs/24/experimental-home-hieroglyphs.png" alt="experimental-home-hieroglyphs" />
    </button>
  </div>

</div>

<ng-template #vehicles_by_user>
  <app-vehicles-by-user [hidden]="showEditForm || showContactForm" 
    (selectVehicleId)="onVehicleIdChange($event)" 
    [userId]="vehicleDetails.vehicle.user_id">
  </app-vehicles-by-user>
</ng-template>

<app-vehicle-form *ngIf="showEditForm" (isFormVisible)="onCloseForm($event)" [editVehicle]="vehicleDetails">
</app-vehicle-form>

