.vehicle_section {
    min-height: 81vh;
    box-sizing: border-box;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 1rem;
    padding: 4px;
}

.vehicle_details,
.user_details {
    display: block;
    height: 120px;
    width: max-content;
    min-width: min-content;
    text-align: center;
    padding-top: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.vehicle_details h2,
.user_details h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.vehicle_details thead th,
.vehicle_details tbody td {
    padding: 0 1rem;
}

.vehicle_details .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.photos_container {
    width: 100%;
    margin: auto;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.photos_container img {
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.butttons_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    bottom: 20%;
    right: 1.5rem;
    z-index: 10;
}

.btn_container button {
    width: 5rem;
    right: 2rem;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.btn_delete button {
    background-color: #e60000;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
}

.btn_delete button:hover {
    background-color: #ff6e6e;
    border: 2px solid black;
    color: black;
}

.btn_edit button {
    background-color:#339999;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
}

.btn_edit button:hover {
    background-color: 	#7fcaca;
    border: 2px solid black;
    color: black;
}

.btn_chat button{
    text-align: center;
    background-color: #34C308;
}

.btn_chat button:hover{
    background-color: #34c3089a;
}

.btn_home button:hover {
    background-color: #eeeeee;
    border: 2px solid black;
    color: black;
}

.btn_home button{
    text-align: center;
    background-color: #d3d3d3;
}

.btn_home button:hover {
    background-color: #eeeeee;

    border: 2px solid black;
    color: black;
}

@media screen and (max-width: 600px) {
    .vehicle_section {
        padding: 1rem;
    }
    .butttons_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        bottom: 1%;
        right: 1.5rem;
        width: 100vw;
        right: 0;
    }
    .hide {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .vehicle_section {
        padding: 0;
        padding-bottom: 3.4rem;
    }
    .photos_container div img {
        height: auto;
        width: 80vw;
    }
    .details {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .vehicle_details {
        width: fit-content;
        margin: auto;
    }
    .user_details {
        width: fit-content;
        margin: auto;
    }
    .hide {
        display: none;
    }
}
