<section class="catalogo">
  <div [hidden]="toggleSection">
    <div class="cards-container">

      <div class="d-flex justify-content-center" *ngIf="loadingContent">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div class="card vehicle-container"
        *ngFor="let content of vehiclePage.content"
      >
        <img [src]="content.images.photos[0]" class="img-thumbnail" alt="{{content.vehicle.name}}" />
        <div class="card-body">
          <h4>{{content.vehicle.name}}</h4>
          
          <table class="table table-bordered">
            <thead>
                <th>Model</th>
                <th>Year</th>
                <th>Since</th>
            </thead>
            <tbody>
                <td> {{content.vehicle.model}}</td>
                <td> {{content.vehicle.year}}</td>
                <td> {{content.vehicle.created_at | date}}</td>
            </tbody>
            <tfoot>
              <td colspan="3">{{content.vehicle.price | currency:'BRL':true}}</td>
            </tfoot>
          </table>
    
          <div>
            <button type="button" class="btn btn-outline-dark btn-contact"
              *ngIf="loggedUserId !== content.vehicle.user_id"
              (click)="onShowContactForm(content)"
            >
              <img width="23px" height="23px" src="https://img.icons8.com/pulsar-line/23/filled-chat.png" alt="filled-chat"/>
            </button>
            <button class="btn btn-link" type="button"
              (click)="onSeeMoreClick(content.vehicle.id)"
            >See More</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="paginataion-container">
        <ul class="pagination">
            <li class="page-item btn-page">
                <span class="page-link disabled"
                    [ngClass]="{'disabled': vehiclePage.number === 0}"
                    (click)="onPreviousPage()"
                >Previous</span>
            </li>
            <li class="page-item btn-page" *ngFor="let i of pageNumbers">
                <span class="page-link" 
                  (click)="onSelectPage(i)"
                  [ngClass]="{'disabled': vehiclePage.number  === i}"
                >{{ i + 1 }}</span>
            </li>
            <li class="page-item btn-page">
                <span class="page-link disabled"
                    [ngClass]="{'disabled': vehiclePage.number + 1 === vehiclePage.totalPages}"
                    (click)="onNextPage()"
                >Next</span>
            </li>
          </ul>
    </div>
  </div>

  <app-contact-form
    *ngIf="toggleSection"
    [selectedVehicle]="selectedVehicle.vehicle"
    [vehiclePhotos]="selectedVehicle.images"
    (closeForm)="toggleSection = false"
  ></app-contact-form>
</section>