.catalogo {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: fit-content;
    min-height: 81vh;
}
.cards-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.vehicle-container {
    width: 330px;
    text-align: center;
}

.vehicle-container .img-thumbnail {
    height: 150px;
    margin: auto;
    object-fit: contain;
}

.paginataion-container {
    display: flex;
    justify-content: center;
}

.btn-page {
    cursor: pointer;
}

.btn-page span:hover {
    background-color: 	#72e6bf;
}

.btn-contact {
    text-align: center;
    background-color: #34C308;
}


.btn-contact:hover {
    background-color: #34c30879;
}
