<section class="login-section">
  <div class="login-container">
    <form (ngSubmit)="onSubmitLogin()">
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email address</label>
        <input type="email"class="form-control" id="emailInput" aria-describedby="emailHelp" name="username"
            [(ngModel)]="user.username"
        />

      </div>

      <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordInput" name="password"
            [(ngModel)]="user.password"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
