<section class="form-section">
  <form (ngSubmit)="onSubmitVehicleForm()" class="vehicle-form">
    <div *ngIf="showPhotos">
      <div *ngFor="let photoUrl of editVehicle.images.photos" class="mb-3 photo_container">
        <figure>
          <img [src]="photoUrl" class="rounded" [alt]="vehicle.name">
        </figure>
        <div class="input-group mb-3">
          <label class="input-group-text" for="{{ photoUrl }}">Update</label>
          <input type="file" class="form-control" [id]="photoUrl" (change)="onUpdatePhotoChange($event, photoUrl)" />
        </div>
      </div>
    </div>

    <div *ngIf="errorMap">
      <div class="alert alert-warning" role="alert" *ngFor="let error of errorMap | keyvalue">
          <span>{{error.key}} : {{error.value}}</span>
      </div>
    </div>
    
    <div class="mb-3">
      <label for="carName" class="form-label">Car name</label>
      <input type="text" class="form-control" id="name" name="carName" [(ngModel)]="vehicle.name" (change)="vehicleDataChange()"/>

      <label for="model" class="form-label">Model</label>
      <input type="text" class="form-control" id="model" name="model" [(ngModel)]="vehicle.model" (change)="vehicleDataChange()"/>

      <label for="brand" class="form-label">Brand</label>
      <input type="text" class="form-control" id="brand" name="bran" [(ngModel)]="vehicle.brand" (change)="vehicleDataChange()"/>

      <label for="year" class="form-label">Year</label>
      <input type="number" class="form-control" id="year" name="year" [(ngModel)]="vehicle.year" (change)="vehicleDataChange()"/>

      <label for="vehicle_type" class="form-label">Vehicle type</label>
      <input type="text" class="form-control" id="vehicle_type" name="vehicle_type" [(ngModel)]="vehicle.vehicle_type" (change)="vehicleDataChange()"/>

      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" name="price" [(ngModel)]="vehicle.price"
        (change)="vehicleDataChange()"/>
    </div>

    <div class="buttons_container">
      <button *ngIf="!isVehicleEdited; else save_btn" type="button" class="btn btn-primary"
        (click)="closeForm()">Confirm</button>

      <ng-template #save_btn>
        <button *ngIf="!isLoadingContent; else loading_btn" type="submit" class="btn  btn-success">Save</button>
        <button type="button" class="btn btn-primary" (click)="closeForm()">Cancel</button>
      </ng-template>

      <ng-template #loading_btn>
        <button class="btn btn-success" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Saving...
        </button>
      </ng-template>

    </div>
  </form>

  <button type="button" class="btn btn-outline-secondary btn_return" (click)="closeForm()">
    <img width="24" height="24"
      src="https://img.icons8.com/external-dashed-line-kawalan-studio/24/external-return-traveling-dashed-line-kawalan-studio.png"
      alt="external-return-traveling-dashed-line-kawalan-studio" />
  </button>
</section>
