<nav class="navbar navbar-expand-lg navbar-light bg-color">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Samurai's Cars</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                
                <a href="home" class="nav-item nav-link active">Home</a>
                <a href="resource-management" class="nav-item nav-link active"
                    *ngIf="authenticationService.isUserLogged()"
                >Manage</a>
                <a href="profile" class="nav-item nav-link active"
                    *ngIf="authenticationService.isUserLogged()"
                >Profile</a>

            </div>

            <div class="navbar-nav ms-auto">

                <button class="button-31 nav-item nav-link" 
                    (click)="onLogin()"
                    *ngIf="!authenticationService.isUserLogged(); else logout"
                > Login </button>

                <ng-template #logout>
                    <button class="button-31 nav-item nav-link"
                        (click)="onLogout()"
                    > Logout </button>
                </ng-template>

            </div>
        </div>
    </div>
</nav>