.cards-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.vehicle-container {
    width: 330px;
    text-align: center;
}

.vehicle-container img {
    height: 150px;
    margin: auto;
    object-fit: contain;
}

.paginataion-container {
    display: flex;
    justify-content: center;
}

.btn-page {
    cursor: pointer;
}

.btn-page span:hover {
    background-color: 	#72e6bf;
}