<div class="form_container">
    <form (ngSubmit)="onSubmitMessage()">
        <h2>Contact {{ userPublicDetails.name }}</h2>
        <div class="selectedVehicle">
            <img [src]="vehiclePhotos.photos[0]" [alt]="selectedVehicle.name" class="img-thumbnail">
            <div class="info card">
                <ul class="list-group">
                    <li class="list-group-item">Name: {{ selectedVehicle.name}}</li>
                    <li class="list-group-item">Model: {{ selectedVehicle.model}}</li>
                    <li class="list-group-item">Year: {{ selectedVehicle.year}}</li>
                </ul>
            </div>
        </div>
        <hr>
        <div *ngIf="errorMap">
            <div class="alert alert-warning" role="alert" *ngFor="let error of errorMap | keyvalue">
                <span>{{error.key}} : {{error.value}}</span>
            </div>
        </div>
        <fieldset>
            <div class="row mb-4">
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form6Example1">First name</label>
                        <input type="text" id="form6Example1" class="form-control" name="firstName"
                            [(ngModel)]="contactForm.name"    
                        />
                    </div>
                </div>
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form6Example2">Last name</label>
                        <input type="text" id="form6Example2" class="form-control" name="lastName"
                            [(ngModel)]="contactForm.lastname"
                        />
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="phone">Phone</label>
                        <input type="tel" id="phone" class="form-control" name="phoneNumber" placeholder="eleven numbers"
                            [(ngModel)]="contactForm.phone"
                        />
                    </div>
                </div>
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form6Example2">Email</label>
                        <input type="text" id="form6Example2" class="form-control" name="email"
                            [(ngModel)]="contactForm.email"
                        />
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required" name="message"
                    [(ngModel)]="contactForm.message"
                ></textarea>
                <label for="message">Message</label>
            </div>
    
        </fieldset>
        <div class="buttons_container">
            <button type="submit" class="btn btn-success btn-block mb-4">Send Message</button>
            <button type="button" class="btn btn-primary btn-block mb-4"
                (click)="onCloseForm()"
            >Cancel</button>
        </div>
    </form>
    <button type="button" class="btn btn-outline-secondary btn_return" 
        (click)="onCloseForm()"
    >
        <img width="24" height="24"
            src="https://img.icons8.com/external-dashed-line-kawalan-studio/24/external-return-traveling-dashed-line-kawalan-studio.png"
            alt="external-return-traveling-dashed-line-kawalan-studio" />
    </button>
</div>