.profile_section {
    box-sizing: border-box;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: fit-content;
    min-height: 100vh;
    padding: 1rem;
}

.profile_section h1 {
    text-align: center;
}

/* Action cards styles */
.cards_container {
    display: flex;
    padding: 1rem;
    padding-top: 10%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}

.card img{
    height: 16rem;
    object-fit: cover;
}

.card-body button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn_return {
    position: fixed;
    bottom: 5%;
    right: 1.5rem;
}

/* Table styles */

.table_container {
    width: 100vw;
    padding-bottom: 3rem;
}

.table_container table {
    text-align: center;
    width: fit-content;
    min-width: 70vw;
    background-color: white;
    margin: auto;
}

.table_container tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  

.table_container table tbody tr:hover {
    cursor: pointer;
    background-color: rgba(32, 178, 171, 0.486);
    text-decoration: underline;
}

/* Form styles */

.form_container {
    width: 40%;
    margin: 1rem auto;
    padding: 1rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.buttons_container div{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .form_container {
        width: 60vw;
    }
}

@media screen and (max-width: 400px) {
    .profile_section {
        padding: 1px;
    }
    .table_container {
        padding: 0;
        padding-bottom: 4.5rem;
    }
    .optional_column {
        display: none;
    }
    .btn_return {
        bottom: 1%;
    }
    .form_container {
        width: 90vw;
    }
}