<section class="profile_section"  [ngSwitch]="currentSection">
  <ng-container *ngSwitchCase="'actionsMenu'">
    <ng-container *ngTemplateOutlet="actionsSection"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'vehiclesList'">
    <ng-container *ngTemplateOutlet="vehicleList"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'vehicleForm'">
    <ng-container *ngTemplateOutlet="vehicleFormSection"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="'messages'">
    <ng-container *ngTemplateOutlet="messages"></ng-container>
  </ng-container>
</section>

<button type="button" class="btn btn-outline-secondary btn_return"
  *ngIf="currentSection !== 'actionsMenu'"
  (click)="onReturnActionsSection()"
>
  <img width="24" height="24"
    src="https://img.icons8.com/external-dashed-line-kawalan-studio/24/external-return-traveling-dashed-line-kawalan-studio.png"
    alt="external-return-traveling-dashed-line-kawalan-studio" />
</button>

<ng-template #actionsSection>
  <div class="cards_container">
    <div class="card" style="width: 18rem; height: fit-content;">
      <img src="../../../assets/images/carros em salão.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <button type="button" class="btn btn-outline-info"
          (click)="onAllVehiclesClick()"
        >Vehicles</button>
      </div>
    </div>
    <div class="card" style="width: 18rem; height: fit-content;">
      <img src="../../../assets/images/carro-novo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <button type="button" class="btn btn-outline-success"
        (click)="onAddVehicleClick()"
      >Add Vehicle</button>
      </div>
    </div>
    <div class="card" style="width: 18rem; height: fit-content;">
      <img src="../../../assets/images/Push-message (1).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <button type="button" class="btn btn-outline-warning"
        (click)="onMessagesClick()"
      >Messages</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #vehicleList>
  <div class="table_container">
    <table class="table-bordered">
      <thead>
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Year</th>
          <th scope="col" class="optional_column">Created in</th>
        </tr>
      </thead>
      <tbody>
        <tr id="row_hover"
          *ngFor="let content of vehiclesByUser" 
          (click)="onSelectVehicleClick(content.vehicle.id)"
        >
          <td>
            <img [src]="content.images.photos[0]" [alt]="content.vehicle.name" class="rounded" height="50px">
          </td>
          <td>{{ content.vehicle.name }}</td>
          <td>{{ content.vehicle.model }}</td>
          <td>{{ content.vehicle.year }}</td>
          <td class="optional_column">{{ content.vehicle.created_at | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #vehicleFormSection>
  <section class="form-section">
    <form class="form_container" (ngSubmit)="onVehicleSubmit()">
      <div *ngIf="errorMap && !showPhotosForm">
        <div class="alert alert-warning" role="alert" *ngFor="let error of errorMap | keyvalue">
            <span>{{error.key}} : {{error.value}}</span>
        </div>
    </div>
      <div class="mb-3">
        <label for="carName" class="form-label">Vehicle name</label>
        <input type="text" class="form-control" id="name" name="carName" [(ngModel)]="vehicleForm.name"/>
  
        <label for="model" class="form-label">Model</label>
        <input type="text" class="form-control" id="model" name="model" [(ngModel)]="vehicleForm.model"/>
  
        <label for="year" class="form-label">Year</label>
        <input type="number" class="form-control" id="year" name="year" [(ngModel)]="vehicleForm.year"/>
      </div>

      <div class="buttons_container" [hidden]="showPhotosForm">
        <div *ngIf="!savingData; else loading_btn">
          <button  type="submit" class="btn  btn-success">Save</button>
          <button type="button" class="btn btn-primary" (click)="onCloseForm()">Cancel</button>
        </div>
  
        <ng-template #loading_btn>
          <button class="btn btn-success" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Saving...
          </button>
        </ng-template>
      </div>
    </form>

    <form *ngIf="showPhotosForm" (ngSubmit)="onPhotosSubmit()" class="form_container">
      <div class="vehicle-saved-msg">
        <h2>Vehicele saved, add some photos!</h2>
      </div>

      <div *ngIf="errorMap">
        <div class="alert alert-warning" role="alert" *ngFor="let error of errorMap | keyvalue">
            <span>{{error.key}} : {{error.value}}</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="photo-1">Upload</label>
        <input type="file" name="photo-0" class="form-control" id="photo-1" (change)="onInputFileChange($event, 0)" />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="photo-2">Upload</label>
        <input type="file" name="photo-1" class="form-control" id="photo-2" (change)="onInputFileChange($event, 1)" />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="photo-3">Upload</label>
        <input type="file" name="photo-2" class="form-control" id="photo-3" (change)="onInputFileChange($event, 2)" />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="photo-4">Upload</label>
        <input type="file" class="form-control" id="photo-4" (change)="onInputFileChange($event, 3)" />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="photo-5">Upload</label>
        <input type="file" class="form-control" id="photo-5" (change)="onInputFileChange($event, 4)" />
      </div>

      <div class="buttons_container">
        <div *ngIf="!savingData; else loading_btn">
          <button  type="submit" class="btn  btn-success">Save</button>
        </div>
  
        <ng-template #loading_btn>
          <button class="btn btn-success" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Saving...
          </button>
        </ng-template>
      </div>

    </form>
  </section>
</ng-template> 

<ng-template #messages>
  <app-messages></app-messages>
</ng-template>