<section class="vehicles_by_user">
  <h2>Vehicles by {{ vehiclesByUser.name }}</h2>
  <div class="cards_container">
    <div class="card vehicle_card"
      *ngFor="let vehicle of vehiclesByUser.vehicles"
      [ngClass]="{'vehicle_selected' : vehicle.id == currentVehicleId}"
      (click)="onSelectVehicleClick(vehicle.id)"
    >
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Volkswagen_Quantum.jpg/250px-Volkswagen_Quantum.jpg"
        class="img-thumbnail"
        alt="..."
      />
      
      <h3>{{ vehicle.name }}</h3>
      <table>
        <thead>
          <tr>
            <th>Model</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.year }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
