<section class="vehicles_by_user" *ngIf="vehiclesByUser">
  <h2>Vehicles by </h2>
  <div class="cards_container">
    <div class="card vehicle_card"
      *ngFor="let content of vehiclesByUser"
      [ngClass]="{'vehicle_selected' : content.vehicle.id == currentVehicleId}"
      (click)="onSelectVehicleClick(content.vehicle.id)"
    >
      <img
        [src]="content.images.photos[0]"
        class="img-thumbnail"
        [alt]="content.vehicle.name"
      />
      
      <h3>{{ content.vehicle.name }}</h3>
      <table>
        <thead>
          <tr>
            <th>Model</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ content.vehicle.model }}</td>
            <td>{{ content.vehicle.year }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
